.taskInput {
  @apply py-4 bg-white w-full relative flex z-10;
  border-bottom: 1px solid rgba(104, 104, 104, 0.39);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

  input {
    @apply w-full outline-none break-words break-all;
  }

  input::-webkit-input-placeholder {
    opacity: 0.8;
    font-style: italic;
  }

  button {
    @apply px-4;
  }

  button > img {
    width: 20px;
    opacity: 0.7;
  }
}

.taskList {
  @apply bg-white flex flex-col flex-grow overflow-hidden z-20;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

  ul {
    @apply overflow-y-auto p-0 m-0 list-none;
    max-height: 70vh;

    li {
      @apply flex items-center py-3 break-words break-all;
      border-bottom: 1px solid rgba(128, 128, 128, 0.144);

      span {
        @apply pr-2;
      }

      input[type='checkbox'] {
        display: none;
      }

      .checkboxContainer {
        @apply flex px-4 items-center relative cursor-pointer;
      }

      .checkbox {
        @apply inline-block relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #ccc;
        transition: border-color 0.2s ease;
      }

      .checkboxContainer:hover .checkbox {
        border-color: #777;
      }

      input[type='checkbox']:checked + .checkbox {
        @apply bg-white;
        border-color: #777;
      }

      input[type='checkbox']:checked + .checkbox::before {
        @apply absolute;
        content: '';
        width: 6px;
        height: 10px;
        border: solid #4caf50;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        top: 3px;
        left: 6px;
      }

      .taskComplete {
        @apply line-through;
        opacity: 0.6;
      }
    }
  }
}

.taskListControl {
  @apply grid items-center text-xs text-stone-500 bg-white px-4 z-30 relative;
  grid-template-columns: 25% 50% 25%;
  font-weight: 400;
  border-top: 1px solid rgba(128, 128, 128, 0.144);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

  div {
    @apply flex justify-center;
  }

  div > button {
    @apply my-3 mx-1;
    border: 1px solid transparent;
    padding: 3px;
  }

  div > button:hover,
  div > .active {
    border: 1px solid rgba(133, 34, 34, 0.203);
    border-radius: 3px;
  }
}

//TODO

@media (max-width: 1250px) {
  .taskListControl {
    @apply flex h-28 flex-col justify-around w-full text-center;
  }
}

@media (max-width: 1400px) {
  .taskListControl {
    @apply text-center;
  }
}

@media (max-width: 1000px) {
  input {
    @apply w-full outline-none;
  }

  input::-webkit-input-placeholder {
    opacity: 0.8;
    font-style: italic;
  }

  button {
    @apply px-4;
  }

  button > img {
    width: 20px;
    opacity: 0.7;
  }
}
