@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/_reset.scss";
@import "styles/_font.scss";

body {
  @apply flex justify-center bg-gray-50;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 10rem;
  color: black;
}
